.container {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10rem;

  text-align: center;

  padding-inline: 10rem;
}

.container header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.container header .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container header input {
  font-size: 1.8rem;

  background: none;
  color: #fafafa;

  border: 0.2rem solid hsla(0, 0%, 98%, 0.4);
  border-radius: 0.5rem;

  padding: 2rem;
}

.container header input:focus {
  outline: 0;

  border-color: hsla(0, 0%, 98%);
}

.container header input::placeholder {
  color: #fafafa;

  filter: brightness(0.4);
}

.container header button {
  background: #fafafa;
  color: #0c0c0;

  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;

  padding: 2rem;

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: filter 200ms;
}

.container header button:hover {
  filter: brightness(0.8);
}

.container .user-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;
}

.container .user-card .user-avatar {
  width: 20rem;

  border: 0.2rem solid hsla(0, 0%, 98%, 0.4);
  border-radius: 20rem;

  margin-bottom: 2rem;
}

.container .user-card .user-name {
  font-size: 3rem;

  margin-bottom: 0.5rem;
}

.container .user-card .user-bio {
  font-size: 1.5rem;
  filter: brightness(0.6);
}

@media (max-width: 951px) {
  .container .user-card {
    width: 100%;
  }
}
